<br />
<footer>
	<section class="flex">
		<div>
		</div>
		<nav>
			<a href="/terms">Условия использования</a>
			&middot;
			<a href="/privacy">Политика конфиденциальности</a>
		</nav>
	</section>
	<section>
		<nav>
			<a href="https://klerum.qzz.io/#/" target="_blank">Поддержать</a>
			<span class="separator">&middot;</span>
			<a href="https://stats.uptimerobot.com/iCOFqUj3SU" target="_blank">Статус</a>
		</nav>
	</section>
</footer>
