<br />
<footer>
	<section class="flex">
		<div>
		</div>
		<nav>
			<a href="https://github.com/vasanthv/ahey/wiki/Embed-Ahey" target="_blank">Embed</a>
			&middot;
			<a href="/terms">Terms</a>
			&middot;
			<a href="/privacy">Privacy</a>
		</nav>
	</section>
	<section>
		<nav>
			<a href="https://buymeacoffee.com/vasanthv" target="_blank">Donate</a>
			<span class="separator">&middot;</span>
			<a href="https://status.ahey.net" target="_blank">Status</a>
		</nav>
	</section>
</footer>
