<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<br />
			<div class="row title">KLERUM - бесплатное приложение для видеозвонков в Интернете.</div>
			<div class="row">
				<p>
					KLERUM это бесплатное приложение для одноранговых видеоконференций, которое вы можете использовать прямо в своем браузере - без регистрации,
                    без скачиваний, без ограничений.
				</p>
				<p>
					Просто поделитесь ссылкой на свой канал с друзьями и подключайтесь мгновенно. 100% бесплатно, доступно для размещения на любой веб-странице и
                    готово к использованию.
				</p>
			</div>

			<div class="row">
				<div id="channelbox" class="flex">
					<span class="perma-placeholder">ahey.net/</span>
					<input type="text" placeholder="channel-id" class="flex-1" />
					<button onClick="onJoin()">Начать</button>
				</div>
				<div class="small light">Вводить идентификатор канала необязательно. Нажмите «Начать», чтобы сгенерировать случайный канал.</div>
			</div>

			<script type="text/javascript">
				const inputElement = document.querySelector("#channelbox input");
				function onJoin() {
					let channelId = document.querySelector("#channelbox input").value;
					if (!channelId) channelId = Math.random().toString(36).substr(2, 6);

					window.location.pathname = channelId;
				}

				inputElement.addEventListener("keypress", function (e) {
					if (e.key === "Enter") {
						e.preventDefault();
						onJoin();
					}
				});

				(() => {
					if ("serviceWorker" in navigator) {
						navigator.serviceWorker.register("/sw.js");
					}
				})();
			</script>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
