<!DOCTYPE html>
<html lang="ru">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; Вернуться на главную</a></div>
			<br />
			<div class="row title">Недопустимое название канала</div>

			<div class="row">
				<p>
					Названия каналов могут содержать буквы, цифры и дефис (-). Никаких эмодзи, пробелов или знаков препинания — и длина не должна превышать 64 символа, ведь даже названиям каналов нужны границы.
				</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
